* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: technology;
  src: url("technology.ttf");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#scoreboard {
  width: 1200px;
  height: 700px;
  background-color: rgb(0, 0, 112);
  box-shadow: 0px 0px 30px black;
}
#host,
#guest {
  width: 40%;
  height: 100%;
  color: white;
  font-family: "Bowlby One", sans-serif;
  font-size: 35px;
  flex-direction: column;
  gap: 30px;
}
#newGame {
  flex-direction: column;
  width: 20%;
  height: 100%;
  gap: 50px;
}
#newGame button {
  font-family: "Bowlby One", sans-serif;
  background-color: rgb(0, 0, 112);
  box-shadow: 0 0 10px white;
  color: rgb(136, 136, 136);
  font-size: 30px;
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#newGame button:hover {
  color: white;
}
#timer {
  width: 230px;
  height: 100px;
  background-color: black;
  font-size: 100px;
  color: red;
  font-family: "technology";
  box-shadow: 0 0 30px white;
  cursor: pointer;
  border-radius: 10px;
}
#minute,
#second {
  width: 110px;
}
#colon {
  width: 10px;
}
.points {
  font-family: "technology";
  font-size: 150px;
  color: red;
  width: 250px;
  height: 200px;
  background-color: black;
  border-radius: 10px;
}
.scores {
  flex-direction: row;
  gap: 20px;
}
.scores div {
  font-family: "technology";
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.scores div:hover {
  transform: translateY(-5px);
}
.justify {
  display: flex;
  justify-content: center;
  align-items: center;
}
